body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  min-height: 72px;
  max-height: 200px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  align-content: center;
}

.footer {
  height: 72px;
  background: #eee;
  text-align: center;
  align-content: center;
}

.footertext {
  color: darkmagenta;
}

.sidebar {
  
  background: royalblue;
  box-sizing: border-box;
}

.header, 
.sidebar {
  padding-left: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  height: 180px;
  
}



.bgimg img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.bodywrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cardwrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 32px;
  justify-content: center;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

li {
  margin-bottom: 16px;
}